<header id="iflmti" class="header1">
    <div id="if5xe1" class="container">
        <div data-columns="1" data-gjs="navbar" id="i7nhyf" class="row no-gutters">
<a [routerLink]="['./index.html']" id="template-ixw1g" class="">
<div data-column="1" id="ic0lkf" class="cell">
<img id="ii0r8m" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/2c72cbf188ba475bb4a41d1fc7240876_logo.png" class=""/>
<div id="iz10bf" class="burger">
<div id="template-iedbg" class="burger-line-dark">
</div>
<div id="template-is6rw" class="burger-line-dark">
</div>
<div id="template-iv16f" class="burger-line-dark">
</div>
</div>
</div>
</a>

            <div data-column="1" id="i9mgcg" class="cell">
                <div data-gjs="navbar-items" id="template-ici6w" class="menu-container">
                    <nav data-gjs="navs" id="i011z1" class="menu">
                        <div id="MainMenu" class="">
                            <button type="button" id="ipek5x" class="btn btn-primary">Sign Up</button>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="ibz4" class="gpd-section">
    <div id="i8mi" class="gpd-container gpd-cnt">
        <div id="izse" class="gdp-row gpd-grid">
            <div id="template-ixzxm" class="cell gpd-clm">
                
<h1 id="imkb3" class="gpd-header">
Nature's Silence</h1>

            </div>
            <div id="i2f7" class="cell gpd-clm">
                <div id="ig8js" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna </div>
            </div>
            <div id="i3iq" class="cell gpd-clm">
                <img id="itycq" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/bc8f516661714f7cb63fe7a64a02e64e_group_18983.png"
                class="" />
            </div>
        </div>
    </div>
</section>
<section id="ihrzq" class="gpd-section">
    <div id="template-ils6j" class="gpd-container gpd-cnt">
        <div id="i53o6k" class="gdp-row gpd-grid">
            <div id="template-ic80v" class="cell gpd-clm">
                <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/0131ec151b2e4b8aa50c30e3d5dc28f9_mount.png"
                id="ib95x" class="" />
            </div>
            <div id="is8pbk" class="cell gpd-clm">
                
<h1 id="iyjxm" class="gpd-header">
Live in Nature's bed</h1>

            </div>
            <div id="ijofb4" class="cell gpd-clm">
                <div id="iqjzv7" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ​​​​​​​eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud</div>
            </div>
            <div id="i4w5rf" class="cell gpd-clm">
                <button type="button" id="ioepdf" class="btn btn-primary">Join Now</button>
            </div>
        </div>
    </div>
</section>
<section id="i7fae" class="gpd-section">
    <div id="io91l" class="gpd-container gpd-cnt">
        <div id="iqc6d" class="gdp-row gpd-grid">
            <div id="i6vsh" class="cell gpd-clm">
                <div id="imgyg" class="gdp-row gpd-grid">
                    <div id="iz1nd" class="cell gpd-clm">
                        <div id="ixycx" class="gpd-text">The forest is not a resource for us, It is life itself. It is the only
                            place for us to live</div>
                    </div>
                    <div id="ixij9" class="cell gpd-clm">
                        <div id="ilngq" class="gdp-row gpd-grid">
                            <div id="ipacx" class="cell gpd-clm">
                                <img id="iz77m" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/988489dfb8df4e84a2cdc2238d0cd1c9_group_19024.png"
                                class="" />
                            </div>
                            <div id="ivani" class="cell gpd-clm">
                                <div id="i5s1i" class="gpd-text">Nature's Silence</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="i0ldj" class="cell gpd-clm">
                <div id="iu52j" class="gdp-row gpd-grid">
                    <div id="iglht" class="cell gpd-clm">
                        <img id="iyhmo" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/6f5e2340fb134569b93c2b26b2afdafa_plant1.png"
                        class="" />
                    </div>
                    <div id="iyqzd" class="cell gpd-clm">
                        <div id="io47x" class="gpd-text">Day Camp</div>
                    </div>
                    <div id="ic3ok" class="cell gpd-clm">
                        <img id="iy1nm" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/7163e193b1dd48488135e774c7a0e674_arrow.png"
                        class="" />
                    </div>
                </div>
                <div id="i6kzt" class="gdp-row gpd-grid">
                    <div id="i0hq8" class="cell gpd-clm">
                        <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/5e7468d08bfb410799a0f3eaa36c1488_mask_group_9.png"
                        id="i7wuc" class="" />
                    </div>
                    <div id="ij3az" class="cell gpd-clm">
                        <div id="i6yhk" class="gpd-text">Night Camp</div>
                    </div>
                    <div id="iuthc" class="cell gpd-clm">
                        <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/7163e193b1dd48488135e774c7a0e674_arrow.png"
                        id="iplsn" class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="i19gu" class="gpd-section">
    <div id="ikb9f" class="gpd-container gpd-cnt">
        <div id="isavx" class="gdp-row gpd-grid">
            <div id="i7fmb" class="cell gpd-clm">
                <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/e80ae03394bf4b789f360c4937ef632e_group_19027.png"
                id="ivsrm" class="" />
            </div>
            <div id="ifspp" class="cell gpd-clm">
                <div id="izje4" class="gdp-row gpd-grid">
                    <div id="ia0ns" class="cell gpd-clm">
                        <div id="imtjc" class="gpd-text">Be thrilled</div>
                    </div>
                    <div id="iwcqd" class="cell gpd-clm">
                        <div id="iqosi" class="gpd-text">See what its like to experience the life in jungle. Get more information
                            about the trek today.</div>
                    </div>
                    <div id="iecvp" class="cell gpd-clm">
                        <button type="button" id="i7287" class="btn btn-primary">Contact us</button>
                        <button type="button" id="idh2r" class="btn btn-primary">See Price</button>
                    </div>
                </div>
            </div>
            <div id="ic2vj" class="cell gpd-clm">
                <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/e80ae03394bf4b789f360c4937ef632e_group_19027.png"
                id="i4upk" class="" />
            </div>
        </div>
    </div>
</section>
<section id="ij32g" class="gpd-section">
    <div id="igs01" class="gpd-container gpd-cnt">
        <div id="ib9ox" class="gdp-row gpd-grid">
            <div id="ic3vm" class="cell gpd-clm">
                <img id="ibeak" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/0a4e73afefe849958a7a5a06c32dffda_group_19030.png"
                class="" />
            </div>
            <div id="ihr08" class="cell gpd-clm">
                <div id="ialj8" class="gdp-row gpd-grid">
                    <div id="i1omg" class="cell gpd-clm">
                        <div id="i9a1y" class="gpd-text">Earth Living Skills</div>
                    </div>
                    <div id="i7i17" class="cell gpd-clm">
                        <img id="iokug" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/6c472bb4b38c422f909532167d2208fd_group_19033.png"
                        class="" />
                    </div>
                    <div id="ig3tl" class="cell gpd-clm">
                        <div id="iwy7x" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</div>
                    </div>
                    <div id="iny9f" class="cell gpd-clm">
                        <button type="button" id="iuglq" class="btn btn-primary">Contact us</button>
                        <button type="button" id="i7n6t" class="btn btn-primary">See Price</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="icgjh" class="gpd-section">
    <div id="i8hng" class="gpd-container gpd-cnt">
        <div id="ib5p7" class="gdp-row gpd-grid">
            <div id="template-ii6yp2" class="cell gpd-clm">
                <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/0131ec151b2e4b8aa50c30e3d5dc28f9_mount.png"
                id="ixc6v" class="" />
            </div>
            <div id="isr1a" class="cell gpd-clm">
                
<h1 id="ieepe" class="gpd-header">
Stay up to date</h1>

            </div>
            <div id="icre9" class="cell gpd-clm">
                <div type="text" placeholder="Email" id="iry8uk" class="form-control"></div>
            </div>
            <div id="i9cgg" class="cell gpd-clm">
                <button type="button" id="iqmci" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
</section>
<section id="i35mb" class="gpd-section">
    <div id="template-ilveq7" class="gpd-container gpd-cnt">
        <div id="iplo9g" class="gdp-row gpd-grid">
            <div id="ijj8dz" class="cell gpd-clm">
                <div id="i05ihu" class="gdp-row gpd-grid">
                    <div id="i27xll" class="cell gpd-clm">
                        <img id="i3y8m8" src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/988489dfb8df4e84a2cdc2238d0cd1c9_group_19024.png"
                        class="" />
                    </div>
                    <div id="template-i8tev8" class="cell gpd-clm">
                        <div id="i6fl8s" class="gpd-text">
                            <div id="template-i89a3k" class="">Lorem ipsum dolor sit amet, consectetur adipi</div>
                            <br id="template-i7sdy7"
                            class="">
                            <div id="template-imw5z4" class="">elit, sed do eiusmod tempor.</div>
                        </div>
                    </div>
                    <div id="it3vfu" class="cell gpd-clm">
                        <div id="ijl7y9" class="gdp-row gpd-grid">
                            <div id="iuf5yf" class="cell gpd-clm">
                                <img id="icrzai" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/2654d33f6dee4384807a365dc541d04a_facebook.png"
                                class="" />
                            </div>
                            <div id="i6rllx" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf21ee127219d4df2973fa57c27f86999/b1c6c2c842d4490b93f721f73b4ff8bc_youtube.png"
                                id="irn524" class="" />
                            </div>
                            <div id="ihv7gs" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/585b60003bcb401c83e757414bafcc98_instagram.png"
                                id="idhfh2" class="" />
                            </div>
                            <div id="i95u6y" class="cell gpd-clm">
                                <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/dd810b83e79046f499a32b30c8f6e72b_twitter.png"
                                id="i3e02g" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="i3dj3f" class="cell gpd-clm">
                <div id="ikbu4d" class="gdp-row gpd-grid">
                    <div id="idj8e6" class="cell gpd-clm">
                        <div id="ity0hn" class="gdp-row gpd-grid">
                            <div id="iiyvlx" class="cell gpd-clm">
                                <div id="inw6di" class="gdp-row gpd-grid">
                                    <div id="ih2uvd" class="cell gpd-clm">
                                        <div id="i1oqoa" class="gpd-text">Quick Links</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ijhgew" class="gdp-row gpd-grid">
                            <div id="ik22mf" class="cell gpd-clm">
<a id="i3dj7c" class="gpd-link">
Home</a>

                            </div>
                            <div id="ifv248" class="cell gpd-clm">
<a id="iwe5iz" class="gpd-link">
About</a>

                            </div>
                            <div id="i3uauk" class="cell gpd-clm">
<a id="i5i5sp" class="gpd-link">
Camps</a>

                            </div>
                            <div id="ifpr0l" class="cell gpd-clm">
<a id="iz2u2f" class="gpd-link">
Pricing</a>

                            </div>
                        </div>
                    </div>
                    <div id="iuv2hr" class="cell gpd-clm">
                        <div id="i7rrhs" class="gdp-row gpd-grid">
                            <div id="ie587o" class="cell gpd-clm">
                                <div id="ii4xrm" class="gdp-row gpd-grid">
                                    <div id="i78k78" class="cell gpd-clm">
                                        <div id="ikjwau" class="gpd-text">Contact</div>
                                    </div>
                                    <div id="iyxfui" class="cell gpd-clm">
                                        <div id="i7b2pk" class="gpd-text">
                                            <div id="template-i2jkko" class="">+99 (0) 111 0022 567 Steve C.</div>
                                            <br id="template-if1v87" class="">
                                            <div id="template-iocjbq" class="">Amedee 2204 Patrick Street</div>
                                            <br id="template-ijq537" class="">
                                            <div id="template-ikozk9" class="">Phoenix, Tx 76051</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>